.login-container, .signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.434);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 255, 4, 0.2);
    text-align: center;
}

/* Input */
.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #c0c0c0;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #00ff22;
    outline: none;
}

/* Checkbox för Terms of Service (Sign Up sidan) */
.input-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

/* Input för år av erfarenhet (Sign Up sidan) */
.input-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #00f504;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input[type="number"]:focus {
    border-color: #00ff22;
    outline: none;
}

/* Login and Sign Up knappen */
.login-button, .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #009b15;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover, .signup-button:hover {
    background-color: #7cfc7c;
}

/* Sign Up och Login länk */
.signup-link, .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.signup-link a, .login-link a {
    color: #00ff22;
    text-decoration: none;
    transition: color 0.3s;
}

.signup-link a:hover, .login-link a:hover {
    color: #00ff22;
}
